<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Blog of The Unconcerned Ape</title>
  </head>
  <body>
    <div id="center">
      <h1>My Blogs / Rants</h1>
      <% blogs.forEach(function(b) { %>

      <div
        class="box-container"
        onclick="window.open('<%= b.link %>', '_blank');"
      >
        <div class="box">
          <h3><%= b.title %></h3>
          <p class="description"><%= b.description %></p>
          <!-- <a href="<%= b.link %>" class="read-more"> read it. </a> -->
        </div>
      </div>
      <% }); %>
    </div>
    <!-- footer -->
    <%- include('../common/footer') %>
  </body>
</html>
